# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environments
venv/
env/

# VS Code settings
.vscode/
/.env
# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Coverage reports
htmlcov/
coverage.xml
*.cover

# Testing results
.tox/
.nox/
.cache/

# MyPy
.mypy_cache/
.dmypy.json
